<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/sigma.core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/conrad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/utils/sigma.utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/utils/sigma.polyfills.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/sigma.settings.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.dispatcher.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.configurable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.graph.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.camera.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.quad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/classes/sigma.classes.edgequad.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/captors/sigma.captors.mouse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/captors/sigma.captors.touch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.canvas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.webgl.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.svg.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/sigma.renderers.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/svg/sigma.svg.utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/svg/sigma.svg.nodes.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/svg/sigma.svg.edges.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/svg/sigma.svg.edges.curve.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/svg/sigma.svg.labels.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/renderers/svg/sigma.svg.hovers.def.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/middlewares/sigma.middlewares.rescale.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/middlewares/sigma.middlewares.copy.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.animation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.bindEvents.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.bindDOMEvents.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/src/misc/sigma.misc.drawHovers.js"></script>

    <!-- Force Atlas -->
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/plugins/sigma.layout.forceAtlas2/worker.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>

    <!-- Neighboorhood -->
    <script src="https://cdn.jsdelivr.net/npm/sigma@1.2.1/plugins/sigma.plugins.neighborhoods/sigma.plugins.neighborhoods.js"></script>
    <!-- END SIGMA IMPORTS -->



    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


        #graph-container {
            top: 1%;
            bottom: 1%;
            position: absolute;
            float: left;
            width: 50%;
        }


    </style>

    <title>AFL Queue eXplorer</title>

</head>

<body>


    <div class="row">
        <div class="column">
            <p style="color:white">&nbsp;</p>
            <div id="graph-container"></div>
        </div>

        <button onclick="adjustSize()">Adjust Node Size</button>
        <button onclick="removeNodes()">Remove Nodes</button>
        <button onclick="coalesceEdges()">Coalesce Edges</button>

        <div class="column" id="FileView">
            <p>Click nodes or edges to inspect them</p>
        </div>




<script>

    sigma.classes.graph.addMethod('neighbors', function(nodeId) {
        var k,
            neighbors = {},
            index = this.allNeighborsIndex[nodeId] || {};

        for (k in index)
            neighbors[k] = this.nodesIndex[k];

        return neighbors;
    });

    function loadHexDump(node) {
        request = new XMLHttpRequest;
        request.open('GET', '/show?f='+encodeURIComponent(node), true);

        request.onload = function() {
            if (request.status >= 200 && request.status < 400){
                //g = JSON.parse(request.responseText);
                document.getElementById('FileView').innerHTML = request.responseText
            }
        };
        request.send();
    }

    function loadDiff(node1, node2) {
        request = new XMLHttpRequest;
        request.open('GET', '/diff?f1='+node1+'&f2='+node2, true);

        request.onload = function() {
            if (request.status >= 200 && request.status < 400){
                //g = JSON.parse(request.responseText);
                document.getElementById('FileView').innerHTML = request.responseText
            }
        };
        request.send();
    }

    request = new XMLHttpRequest;
    request.open('GET', 'data.json', false);

    request.onload = function() {
        if (request.status >= 200 && request.status < 400){
            // Success!
            g = JSON.parse(request.responseText);
        }
    };


    request.send();


    s = new sigma({
        graph: g,
        renderer: {
            container: document.getElementById('graph-container'),
            type: 'canvas'
        },
        settings: {
            drawEdges: true,
            drawLabels: true,
            // Hack to remove labels from showing when not hovering
            labelThreshold: 200,

            enableEdgeHovering: true,
            edgeHoverSizeRatio: 1,
            edgeHoverExtremities: true,
        }
    });

    forceAtlas();

function adjustSize() {
    // different node sizes depending on child nodes
    s.graph.nodes().forEach(function (n) {
        n.size = 1 + Math.log(1 + s.graph.degree(n['id'], 'out'));
        //n.size = 1 + Math.log(s.graph.degree(n['id'], 'out') + 0.00001);
        //n.viz.size = n.viz.size * s.graph.degree(n['id'], 'out');
    });
    s.refresh();
}

function removeNodes() {
    // remove nodes that have no children and parent is root node
    var root_nodes = [];
    s.graph.nodes().forEach(function (n) {
        //console.log(n);
        if (s.graph.degree(n['id'], 'in') == 0) {
            root_nodes.push(n['id'])
            //console.log(s.graph.edges(n['id']));
        }
    });

    console.log(s.graph.nodes().length);
    //console.log(root_nodes)
    s.graph.edges().forEach(function (e) {
        //console.log(e);
        // check if parent if root node
        if (root_nodes.includes(e['source'])
            // check if it has no children
            && s.graph.degree(e['target'], 'out') == 0
            // check if root node was not combined with another node
            && s.graph.degree(e['target'], 'in') == 1) {
            s.graph.dropNode(e['target']);

            //s.graph.nodes(e['target']).color ="#000000";
        }
    });

    console.log(s.graph.nodes().length);

    s.refresh();
    forceAtlas();
}

function coalesceEdges() {
    // test coalesce edges
    // if a node has only one child and only one parent we want to coalesce the surrounding edges.

    var db = new sigma.plugins.neighborhoods();
    //console.log(g)
    //db.load("/data.json")

    var intermediate_nodes = [];
    s.graph.nodes().forEach(function (n) {
        //console.log(n);
        if (s.graph.degree(n['id'], 'in') == 1 && s.graph.degree(n['id'], 'out') == 1) {
            intermediate_nodes.push(n['id'])
            var neighbors = s.graph.neighbors(n['id'])
            neighbors = Object.keys(neighbors);

            var newEdge = {
                id : neighbors[0]+neighbors[1],
                source: neighbors[0],
                target: neighbors[1],
            }

            console.log(newEdge);

            s.graph.addEdge(newEdge);
            s.graph.dropNode(n['id']);
            console.log("Removed one")
        }
    });

    s.refresh();
    forceAtlas();
}


function forceAtlas() {
    // Force Atlas might be running due to some othe event
    s.killForceAtlas2()

    s.startForceAtlas2(
        {
            linLogMode: false,
            barnesHutOptimize: false,
            outboundAttractionDistribution: false,
            startingIterations: 100,
            iterationsPerRender: 200,
        }
    );


    //window.setTimeout(function() {s.killForceAtlas2()}, 25000);
    window.setTimeout(function () {
        s.killForceAtlas2()
    }, (g['nodes'].length * 30));
    // do some logging and make timeout sameller maybe / capped!
}

    s.bind('clickNode', function(e) {
        loadHexDump(e.data.node.label)
    });

    s.bind('clickEdge', function(e) {
        loadDiff(e.data.edge.source, e.data.edge.target)
    });

</script>


</body>
</html>